<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freshcapade</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <div id="wrapper">
      <header>
        <h1>Freshcapade</h1>
        <h2>Your one stop spot!</h2>
      </header>

      <nav id="nav-bar">
        <ul class="main_menu">
          <li><a class="nav-link" href="/">Home</a></li>

          <li><a class="nav-link" href="#">Logout</a></li>

          <li><a class="nav-link" href="/login">Login</a></li>

          <li><a class="nav-link" href="#">About</a></li>
<!--add contact us to list this filepath may not work for anyone -->
          <li><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    <main>
      <div class="gallery">
        {{{body}}}
      </div>
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>