<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freshcapade</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" id="navlogo" href="/home">
          <img src="images/logo.png" alt="freshcapade logo">
          </a>
          <div class="collapse navbar-collapse">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbarNav">
                <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
              </ul>
               {{!-- <form id="navSearch" class="form-inline">
                 <i class="fa fa-search" aria-hidden="true"></i>
                <input id="navSearchBox" class="form-control mr-lg-2" type="text" placeholder="current location" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-lg-0" type="submit">Search</button>
              </form> --}}
            </div>
        </div>

      </nav>
    </header>  
    <main>
      <div class="gallery">
        {{{body}}}
      </div>
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>