<div id="Contact" class="row justify-space-between-md">
  <div class="contact-card">
    <h2 class="page-title">Contact Us</h2>
    <form class="form contact-form">
      <div class="form-group">
        <input type="text" id="name" placeholder="full name">    
        </div>
      <div class="form-group">
        <input type="email" id="email" placeholder="email">
        </div>
      <div class="form-group">
        <input type="test" id="subject" placeholder="subject">
      </div>
      <div class="form-group">
        <textarea id="message" placeholder="message" cols="20" rows="10"></textarea>
      </div>
      <div id="btn" class="form-group">
        <input type="submit" class="submit" value="send message">
      </div>
    </form>
  </div>

<script src="/public/js/contact.js"></script>