<h2>
    {{!-- app logo --}}
</h2>

<div>
    {{!-- search block --}}
</div>
<div>
    {{!-- display block of results --}}
</div>
<div>
    {{!-- keyword search --}}
</div>
<div>
    {{!-- profile photo and profile information --}}
</div>
