<form action="/login" method="post">
    <fieldset>
        <legend>Login Form</legend>
        <label for="username">Username</label>
        <input name="username" id="username" type="text" />
        <label for="password">Password</label>
        <input name="password" id="password" type="password" />
        <input type="submit" value="Register"
    </fieldset>
</form> 