<div>
    {{!-- left side of browser showing User account button, saved events, saved coupons, app logo --}}
</div>
<div>
    {{!-- mutual friends list --}}
</div>
<div>
    {{!-- hobby input with three columns --}}
</div>