<div>
    {{!-- left side of browser showing User account button, saved events, saved coupons, app logo --}}
    <div class="raw justify-space-between-md">
        <div class="Friends">
            <h2 class="Hobby#1">
                <h3 class="Hobby#2">
                    <h4 class="Hobe#3">
                    </h4>
                </h3>
            </h2>
        </div>
    </div>
</div>
<div>
    {{!-- mutual friends list --}}
    <body>
        <div class="">
            <header class="">
                <h1></h1>
                    <nav>
                        <ul>
                            <li><a href="login">login/</a></li>
                        </ul>
                    </nav>     
            </header>
        </div>
    </body>
</div>
<div>
    {{!-- hobby input with three columns --}}
</div>