
.flex-row {
    display: flex;
    justify-content: space-between;
}

.column {
    text-align: center;
    margin: auto;
}

.friends-list,
.hobby1-list,
.hobby2-list,
.hobby3-list {
    padding-left: 60px;
    border-left: 1px solid white;
}

.friend-square,
.hobby1-square,
.hobby2-square,
.hobby3-square {
    border: 6px solid white;
    text-align: center;
    height: 150px;
    padding: 32px;
    margin: 0 auto;
    max-width: 960px;
}

h2, h3 {
    font-weight: 900;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.userBtn {
    margin-left: 50px;
}

.logo {
    margin-left: 40px;
    text-align: center;
    padding: 5px 10px;
    border: 3px solid white;
}

.userBtn button {
    padding: 30px;
    border-radius: 100px;
}

.savedEvents-list li,
.savedCoupons-list li{
    list-style: none;
    border: 1px solid white;
    padding: 3px;
    margin-bottom: 15px;
}

.savedEvents-list {
    margin-bottom: 50px;
}

.userBody {
    background-color: #213259;
    color: white;
    padding: 32px;
    margin: 0 auto;
    max-width: 960px;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 60px;
}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: #226897;
    padding: 32px;
}

header {
    background-color: #213259;
    padding: 10px;
    margin-bottom: 10px;
    height: 75px;
}

#navlogo{
  display: block;
  float: left;
}

.navbar-brand img{
  padding-left: 15px;
  padding-right: 30px;
  height: 40px;
  display: block;
  align-items: center;
}

#navbarNav li {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  padding-right: 10px;
  font-weight: 900;
  font-size: 1.2em;
}

#navSearch {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbarNav li a {
  text-decoration: none;
  color: white;
}

#navbarNav li a:hover {
  text-decoration: underline;
}

#navbarNav ul {
  display: inline-block;
  text-align: center;
  float: right;
}

#Login {
  background-color: #213259;
  height: 100vh;
  width: 40vw;
  margin: auto;
  margin-top: 25px;
}

#contact {
  background-color: #213259;
  height: 100vh;
  width: 40vw;
  margin: auto;
  margin-top: 25px;
}

#loginbtn {
  background: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em;
  height: 40px;
  border-radius: 0%;
  width: 60%;
}

#btn {
  padding-top: 30px;
}

.login-form {
  padding-bottom: 40px;
}

.form-group {
  padding-left: 27%;
  padding-top: 20px;
}

.form-input {
  background: transparent;
  border: none;
  border-bottom: 3px solid white;
  outline: none;
  color: white;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 60%;
  height: 35px;
  text-align: center;
}

#name, #email, #subject {
  background: transparent;
  border: none;
  border-bottom: 3px solid white;
  outline: none;
  color: white;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 60%;
  height: 35px;
  text-align: center;
}

#message {
  background: transparent;
  border: 3px solid white;
  color: white;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 60%;
  height: 300pxpx;
  text-align: center;
}


.page-title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  padding-top: 40px;
}



