
.flex-row {
    display: flex;
    justify-content: space-between;
}

.column {
    text-align: center;
    margin: auto;
}

.friends-list,
.hobby1-list,
.hobby2-list,
.hobby3-list {
    padding-left: 60px;
    border-left: 1px solid white;
}

.friend-square,
.hobby1-square,
.hobby2-square,
.hobby3-square {
    border: 6px solid white;
    text-align: center;
    height: 150px;
    width: 200px;
    margin-bottom: 10px;
}

h2 {
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: white;
}

.userBtn {
    margin-left: 50px;
}

.logo {
    margin-left: 40px;
    text-align: center;
    padding: 5px 10px;
    border: 3px solid white;
}

.userBtn button {
    padding: 30px;
    border-radius: 100px;
}

.savedEvents-list li,
.savedCoupons-list li{
    list-style: none;
    border: 1px solid white;
    padding: 3px;
    margin-bottom: 15px;
}

.savedEvents-list {
    margin-bottom: 50px;
}

.userBody {
    background-color: rgba(0, 0, 146, 0.842);
    color: white;
    padding: 0px 10px;
    width: 100%;
}
/* LOGIN HANDLEBARS */

#wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: #226897;
    padding: 32px;
}

header {
    background-color: #213259;
    height: 150px;
    padding: 4px;
}

header h1 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 50px;
}

header h2 {
    font-variant: small-caps;
    text-align: center;
    color: #fff;
}

.main_menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: #213259;
}

ul.main_menu {
    margin-top: 15px;
}

.main_menu li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.main_menu a {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    font-variant: small-caps;
}

.main_menu a:hover {
    color: #59d5d8;
}

#Login {
  background-color: #213259;
  height: 100vh;
  width: 40vw;
  margin: auto;
}

.btn {
  background: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em;
  height: 40px;
  border-radius: 0%;
  width: 60%;
}

#btn {
  padding-top: 30px;
}

.login-form {
  padding-bottom: 40px;
}

.form-group {
  padding-left: 27%;
  padding-top: 20px;
}

.form-input {
  background: transparent;
  border: none;
  border-bottom: 3px solid white;
  outline: none;
  color: white;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 60%;
  height: 35px;
  text-align: center;
}

.page-title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  padding-top: 40px;
}

/* HOME HANDLEBAR */

/* USER HANDLEBAR */

/* ORG HANDLEBAR */

