/* LOGIN HANDLEBARS */

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 60px;
}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: #226897;
    padding: 32px;
}

header {
    background-color: #213259;
    padding: 10px;
    height: 75px;
}

#navlogo{
  display: block;
  float: left;
}

.navbar-brand img{
  padding-left: 15px;
  padding-right: 30px;
  height: 40px;
  display: block;
  align-items: center;
}

#navbarNav li {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  padding-right: 10px;
  font-weight: 900;
  font-size: 1.2em;
}

#navSearch {
  float: right;
  display: inline-block;
  align-items: center;
}

#navbarNav li a {
  text-decoration: none;
  color: white;
}

#navbarNav li a:hover {
  text-decoration: underline;
}

#navbarNav ul {
  display: inline-block;
  text-align: center;
  float: right;
}

#Login {
  background-color: #213259;
  height: 100vh;
  width: 40vw;
  margin: auto;
  margin-top: 25px;
}

#loginbtn {
  background: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em;
  height: 40px;
  border-radius: 0%;
  width: 60%;
}

#btn {
  padding-top: 30px;
}

.login-form {
  padding-bottom: 40px;
}

.form-group {
  padding-left: 27%;
  padding-top: 20px;
}

.form-input {
  background: transparent;
  border: none;
  border-bottom: 3px solid white;
  outline: none;
  color: white;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 60%;
  height: 35px;
  text-align: center;
}

.page-title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  padding-top: 40px;
}

/* HOME HANDLEBAR */

/* USER HANDLEBAR */

/* ORG HANDLEBAR */
